.w-embed-youtubevideo {
  width: 100%;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-position: 50%;
  background-size: cover;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

.navbar-logo-left {
  background-color: #fff;
  display: none;
}

.navbar-logo-left-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container.shadow-three {
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  color: #242323;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu-wrapper {
  text-transform: uppercase;
  font-family: Open Sans, sans-serif;
  display: flex;
  overflow: visible;
}

.nav-menu-two {
  height: 30px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
  overflow: visible;
}

.nav-link {
  color: #242323;
  text-align: center;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: #f65802;
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: #f65802;
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  color: #e6e6e6;
  margin-right: 10px;
}

.nav-dropdown-icon:hover {
  color: #f65802;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-list.shadow-three.mobile-shadow-hide {
  color: #e6e6e6;
  background-color: rgba(0, 0, 0, 0);
}

.nav-dropdown-link {
  color: #e6e6e6;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:hover {
  color: #f65802;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-divider {
  width: 1px;
  height: 22px;
  background-color: #e4ebf3;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-link-accent {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: rgba(26, 27, 31, .75);
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.hero-heading-center {
  color: #242323;
  padding: 30px;
  position: relative;
}

.container-2 {
  width: 100%;
  max-width: 1024px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading {
  text-align: center;
  margin-bottom: 16px;
}

.centered-heading.margin-bottom-32px {
  color: #f65802;
  text-align: left;
  font-size: 32px;
}

.hero-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.hero-split {
  height: 100%;
  max-width: 46%;
  min-width: 46%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.margin-bottom-24px {
  color: #242323;
  text-align: left;
  white-space: normal;
  margin-bottom: 24px;
}

.button-primary-2 {
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #f65802;
  border: 1px solid #f65802;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
  display: block;
}

.button-primary-2:hover {
  color: #f65802;
  background-color: #fff;
  border: 1px solid #f65802;
  font-weight: 400;
}

.button-primary-2:active {
  background-color: #43464d;
}

.shadow-two {
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  margin-bottom: 136px;
}

.footer-light {
  background-color: #fff;
  border-bottom: 1px solid #e4ebf3;
  padding: 0 30px 40px;
  position: relative;
}

.footer-wrapper-two {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.footer-block-two {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footer-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

.footer-link-two {
  color: #1a1b1f;
  margin-top: 20px;
  text-decoration: none;
}

.footer-link-two:hover {
  color: rgba(26, 27, 31, .75);
}

.footer-form {
  width: 315px;
  max-width: 100%;
  margin-bottom: 0;
}

.footer-form-block {
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  display: flex;
}

.footer-form-field {
  height: 48px;
  border: 1px solid #a6b1bf;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-bottom: 0;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 22px;
  transition: all .2s;
}

.footer-form-field:hover, .footer-form-field:focus {
  border-color: #76879d;
}

.footer-form-field::-ms-input-placeholder {
  color: rgba(26, 27, 31, .8);
  font-size: 14px;
  line-height: 22px;
}

.footer-form-field::placeholder {
  color: rgba(26, 27, 31, .8);
  font-size: 14px;
  line-height: 22px;
}

.footer-form-submit {
  width: 50px;
  height: 48px;
  background-color: #1a1b1f;
  background-image: url('../images/');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: all .2s;
}

.footer-form-submit:hover {
  background-color: #3a4554;
}

.footer-divider-two {
  width: 100%;
  height: 1px;
  background-color: #e4ebf3;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-bottom {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-copyright {
  color: #000;
  display: inline;
}

.footer-social-block-two {
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-left: -12px;
  padding-bottom: 20px;
  display: flex;
}

.footer-social-link {
  margin-left: 12px;
}

.list-item:hover {
  color: #f65802;
}

.features-list {
  -webkit-text-fill-color: inherit;
  background-color: #fff;
  background-clip: border-box;
  padding: 32px 30px;
  position: relative;
}

.features-list.wersja2 {
  display: none;
}

.features-wrapper-two {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.features-left {
  max-width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 8px;
  margin-bottom: 8px;
  display: none;
}

.features-paragraph {
  color: #242323;
  margin-bottom: 24px;
}

.text-link-arrow {
  color: #1a1b1f;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.arrow-embed {
  margin-left: 2px;
  display: flex;
}

.features-right {
  max-width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.features-block-two {
  color: #e6e6e6;
  align-items: center;
  margin-bottom: 16px;
  display: flex;
}

.features-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 16px;
}

.heading {
  color: #f65802;
  margin-bottom: 20px;
}

.features-metrics {
  background-color: #fff;
  padding: 20px 30px;
  position: relative;
}

.features-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.features-block {
  text-align: center;
  border: 10px dotted #242323;
  border-width: 10px 0;
  border-radius: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.features-title {
  color: #242323;
  margin-bottom: 8px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
}

.features-title-small {
  font-size: 24px;
  line-height: 32px;
}

.text-block {
  font-family: Lato, sans-serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 35px;
}

.bold-text, .text-block-2 {
  color: #242323;
}

.text-block-2:hover {
  color: #f65802;
}

.text-block-3, .text-block-4 {
  color: #242323;
}

.text-block-5 {
  color: #e6e6e6;
}

.paragraph {
  color: #242323;
  line-height: 30px;
}

.image {
  color: #e6e6e6;
}

.paragraph-2, .paragraph-3 {
  color: #242323;
}

.hero-stack {
  max-height: 422.289px;
  background-color: #242323;
  padding: 0 30px;
  position: relative;
}

.hero-wrapper-two {
  max-width: 750px;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.margin-bottom-24px-2 {
  margin-bottom: 24px;
}

.button-primary-3 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-3:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-3:active {
  background-color: #43464d;
}

.hero-image {
  width: 100%;
  margin-top: 50px;
}

.hero-image.shadow-two {
  height: 100%;
  margin-top: 0;
}

.image-2 {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.image-3 {
  max-width: 100%;
}

.hero-without-image {
  background-color: #fff;
  padding: 20px 30px;
  position: relative;
}

.container-3 {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper-two-2 {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.margin-bottom-24px-3 {
  margin-bottom: 24px;
}

.button-primary-4 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-4:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-4:active {
  background-color: #43464d;
}

.heading-2 {
  color: #242323;
}

.features-metrics-2 {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 60px 30px;
  position: relative;
}

.features-wrapper-2 {
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.features-block-2 {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.features-title-2 {
  margin-bottom: 8px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
}

.features-title-small-2 {
  font-size: 24px;
  line-height: 32px;
}

.split---black {
  background-color: #242323;
  border-bottom: 1px solid #e4ebf3;
  margin-top: 20px;
  padding: 20px 30px;
  display: block;
  position: relative;
}

.split---black.wersja2 {
  display: none;
}

.hero-wrapper-two-3 {
  max-width: 750px;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.heading-3 {
  color: #e6e6e6;
  text-align: left;
  font-size: 30px;
}

.container-4 {
  justify-content: center;
  display: flex;
}

.section {
  justify-content: space-between;
  display: none;
}

.list {
  flex-wrap: nowrap;
  display: flex;
}

.container-5 {
  max-width: 940px;
  display: flex;
}

.list-item-3 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.column {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.columns {
  display: flex;
}

.split---white {
  background-color: #fff;
  padding: 20px 30px;
  position: relative;
}

.heading-4 {
  color: #f65802;
  margin-top: 0;
}

.heading-5 {
  margin-top: 0;
}

.paragraph-4 {
  text-align: center;
  font-size: 20px;
  line-height: 22px;
}

.paragraph-5 {
  font-size: 20px;
}

.paragraph-6 {
  color: #f65802;
  text-align: center;
  text-transform: none;
  font-size: 18px;
}

.link {
  display: inline;
}

.link-2 {
  text-decoration: underline;
}

.section-2 {
  padding-bottom: 40px;
}

.div-block {
  width: 100%;
  text-align: left;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.div-block-2 {
  width: 100%;
}

.heading-6 {
  color: #242323;
}

.nav-link-2 {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
  display: block;
}

.nav-link-2:hover {
  color: #f65802;
}

.nav-link-3 {
  color: #bdbdbd;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.nav-link-4 {
  color: #242323;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav-link-4:hover {
  color: #f65802;
}

.nav-link-5 {
  color: #242323;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.nav-link-5:hover {
  color: #f65802;
}

.nav-link-6 {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.nav-link-6:hover {
  color: #f65802;
}

.nav-link-7 {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.nav-link-7:hover {
  color: #f65802;
}

.nav-menu {
  flex-direction: row;
  display: flex;
}

.container-6 {
  width: 1024px;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

.navbar {
  background-color: #fff;
  flex-direction: row;
  justify-content: center;
  display: flex;
}

.youtube {
  width: 423px;
  height: 200px;
}

.container-7 {
  justify-content: space-between;
  display: flex;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.paragraph-7, .paragraph-8, .paragraph-9, .paragraph-10, .paragraph-11, .paragraph-12, .paragraph-13 {
  line-height: 22px;
}

.p1 {
  color: #242323;
}

.bold-text-2 {
  font-weight: 400;
}

.tabs-menu {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: row;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: stretch;
  display: grid;
}

.tabs-content {
  margin-top: 20px;
  display: block;
}

.tabs-nav {
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #f65802;
}

.tabs-nav.w--current {
  color: #e6e6e6;
  text-align: center;
  background-color: #f65802;
}

.tab-link-tab-2 {
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #f65802;
}

.tab-link-tab-2.w--current {
  color: #e6e6e6;
  background-color: #f65802;
}

.tab-link-tab-3 {
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #f65802;
}

.tab-link-tab-3.w--current {
  color: #e6e6e6;
  background-color: #f65802;
}

.nagrania {
  max-width: 1024px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.bold-text-3 {
  font-weight: 400;
}

.container-8 {
  justify-content: center;
  display: flex;
}

.section-3 {
  max-height: 422px;
  background-color: #242323;
}

.image-4 {
  max-width: 80%;
  flex: 0 auto;
}

.section-4 {
  background-color: #242323;
}

.container-9 {
  justify-content: center;
  display: flex;
}

.paragraph-14 {
  text-align: center;
  font-size: 18px;
}

.bold-text-4 {
  color: #242323;
  font-weight: 400;
}

.bold-text-5 {
  color: #242323;
  text-align: center;
}

.container-10 {
  max-width: 1024px;
}

.item {
  width: 100%;
  overflow: hidden;
}

.toggle {
  height: 80px;
  display: flex;
}

.war1 {
  color: #f65802;
  align-items: center;
  font-weight: 700;
  display: flex;
}

.dropdown-list {
  background-color: #fff;
  padding: 20px;
  display: block;
  position: static;
}

.columns-2 {
  align-items: center;
  display: flex;
}

.bold-text-6 {
  color: #f65802;
}

.war2 {
  align-items: center;
  margin-left: 6px;
  display: flex;
}

.container-11 {
  max-width: 1024px;
  display: flex;
}

.section-5 {
  max-width: 1024px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.tabs {
  display: block;
}

.bold-text-7 {
  color: #f60202;
}

.warning {
  color: #ff0b0b;
  font-weight: 700;
}

.container-12 {
  max-width: 1024px;
  margin-top: 32px;
}

.tabs-menu-2 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-around;
  display: grid;
}

.tab-link-tab-1 {
  text-align: center;
  background-color: #fff;
  border: 1px solid #f65802;
}

.tab-link-tab-1.w--current {
  color: #e6e6e6;
  background-color: #f65802;
  border: 1px solid #f65802;
}

.tab-link-tab-2-2 {
  text-align: center;
  background-color: #fff;
  border: 1px solid #f65802;
}

.tab-link-tab-2-2.w--current {
  color: #e6e6e6;
  background-color: #f65802;
}

.text-block-8 {
  text-align: center;
}

.tab-link-tab-3-2 {
  background-color: #fff;
  border: 1px solid #f65802;
}

.tab-link-tab-3-2.w--current {
  color: #e6e6e6;
  background-color: #f65802;
}

.stacjo {
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #bdbdbd;
  border: 1px solid #bdbdbd;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
  display: block;
}

.stacjo:hover {
  color: #fff;
  background-color: #bdbdbd;
  font-weight: 400;
}

.stacjo:active {
  background-color: #bdbdbd;
}

.container-13 {
  max-width: 250px;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
  }

  .nav-menu-wrapper {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu-two {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .container-2 {
    max-width: 728px;
  }

  .hero-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .footer-wrapper-two {
    flex-wrap: wrap;
  }

  .footer-form {
    width: 100%;
    margin-top: 40px;
  }

  .footer-form-container {
    max-width: 350px;
  }

  .features-wrapper-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .features-left {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .features-right {
    max-width: 100%;
  }

  .features-wrapper {
    justify-content: space-between;
  }

  .container-3 {
    max-width: 728px;
  }

  .features-wrapper-2 {
    justify-content: space-between;
  }

  .nav-menu {
    background-color: #fff;
  }

  .toggle {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
  }

  .war2 {
    white-space: normal;
    object-fit: fill;
    flex-wrap: nowrap;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) {
  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu-two {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-divider {
    width: 200px;
    height: 1px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link-accent {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .hero-heading-center {
    padding: 60px 15px;
  }

  .footer-light {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-copyright {
    font-size: 14px;
    line-height: 20px;
  }

  .footer-social-block-two {
    margin-top: 20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .features-list, .features-metrics {
    padding: 60px 15px;
  }

  .features-wrapper {
    flex-wrap: wrap;
    margin-bottom: -40px;
  }

  .features-block {
    width: 50%;
    margin-bottom: 40px;
  }

  .hero-stack {
    padding: 0;
  }

  .hero-without-image, .features-metrics-2 {
    padding: 60px 15px;
  }

  .features-wrapper-2 {
    flex-wrap: wrap;
    margin-bottom: -40px;
  }

  .features-block-2 {
    width: 50%;
    margin-bottom: 40px;
  }

  .split---black, .split---white {
    padding: 60px 15px;
  }

  .body {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: none;
  }

  .nav-menu-two {
    flex-direction: column;
  }

  .container-2 {
    max-width: none;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .footer-wrapper-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-block-two {
    margin-top: 40px;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-social-block-two {
    justify-content: space-around;
    margin-top: 20px;
  }

  .features-right {
    margin-bottom: 0;
  }

  .features-block-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
  }

  .features-image {
    margin-bottom: 10px;
  }

  .container-3 {
    max-width: none;
  }

  .menu-button-2 {
    justify-content: center;
    align-items: center;
  }

  .stopka {
    text-align: center;
  }

  .toggle {
    padding-top: 0;
    padding-bottom: 0;
  }

  .war2 {
    flex-wrap: nowrap;
  }

  .tabs-menu-2 {
    flex-direction: column;
    justify-content: space-around;
    display: flex;
  }
}

#w-node-_3a8bdd9c-bfc0-8bb8-e632-8a8ee04607c6-9cd1020c, #w-node-_3a8bdd9c-bfc0-8bb8-e632-8a8ee04607c7-9cd1020c, #w-node-aba2746c-e0c2-efa9-6ef7-bb1e7432f7cc-9cd1020c, #w-node-_370b4bce-3593-ef94-eefa-993bd61a20d3-9cd1020c, #w-node-aba2746c-e0c2-efa9-6ef7-bb1e7432f7cd-9cd1020c, #w-node-_2f3f6a25-77f2-f318-db9f-432dc396538b-9cd1020c, #w-node-_2f3f6a25-77f2-f318-db9f-432dc396538c-9cd1020c, #w-node-_2f3f6a25-77f2-f318-db9f-432dc3965391-9cd1020c, #w-node-_2d33c45b-6c34-953b-ae4d-e610f46ff45a-9cd1020c, #w-node-_2d33c45b-6c34-953b-ae4d-e610f46ff45b-9cd1020c, #w-node-_2d33c45b-6c34-953b-ae4d-e610f46ff460-9cd1020c, #w-node-cab75a01-fd6b-f88b-f74e-b5d0eed9aea4-9cd1020c, #w-node-cab75a01-fd6b-f88b-f74e-b5d0eed9aea5-9cd1020c, #w-node-cab75a01-fd6b-f88b-f74e-b5d0eed9aeaa-9cd1020c, #w-node-_09601f3a-9bdf-27f5-a029-7ac0752f146c-9cd1020c, #w-node-_09601f3a-9bdf-27f5-a029-7ac0752f146d-9cd1020c, #w-node-_09601f3a-9bdf-27f5-a029-7ac0752f1472-9cd1020c, #w-node-d53dbdc8-3917-4ed4-2c7d-f6eca533eb2d-9cd1020c, #w-node-d53dbdc8-3917-4ed4-2c7d-f6eca533eb2e-9cd1020c, #w-node-d53dbdc8-3917-4ed4-2c7d-f6eca533eb33-9cd1020c, #w-node-d49def53-b26d-ad2c-9e4d-d5715389cca6-9cd1020c, #w-node-_7df87000-f769-5f69-495e-2afa13529b56-9cd1020c, #w-node-_7df87000-f769-5f69-495e-2afa13529b57-9cd1020c, #w-node-_7df87000-f769-5f69-495e-2afa13529b5c-9cd1020c, #w-node-_8fd80311-3fab-c42c-8a74-0cd2ffab14f8-9cd1020c, #w-node-_4ce8c519-9e42-5f72-c784-cf71eb1321af-9cd1020c, #w-node-_4ce8c519-9e42-5f72-c784-cf71eb1321b0-9cd1020c, #w-node-_4ce8c519-9e42-5f72-c784-cf71eb1321b5-9cd1020c, #w-node-c9a4fddf-c0e9-385f-c61b-a99d8de97839-9cd1020c, #w-node-a77052ab-9500-8325-d07b-d76377977673-9cd1020c, #w-node-a77052ab-9500-8325-d07b-d76377977674-9cd1020c, #w-node-a77052ab-9500-8325-d07b-d76377977679-9cd1020c, #w-node-_4b89babe-9e56-d2ac-1ef4-b6e2887189ba-9cd1020c, #w-node-_55fdbc16-eaec-3563-9572-1922fedc9b9b-9cd1020c, #w-node-_55fdbc16-eaec-3563-9572-1922fedc9b9c-9cd1020c, #w-node-_55fdbc16-eaec-3563-9572-1922fedc9ba1-9cd1020c, #w-node-_4fccf6f2-6fc9-dc3a-8c9c-58a7788f8a08-9cd1020c, #w-node-_14c97df7-1af9-5460-832a-5209cb46dbcc-9cd1020c, #w-node-_14c97df7-1af9-5460-832a-5209cb46dbcd-9cd1020c, #w-node-_14c97df7-1af9-5460-832a-5209cb46dbd2-9cd1020c, #w-node-_2f93edc7-fb3c-5745-8c5f-c15c17ac1fe6-9cd1020c, #w-node-_2f93edc7-fb3c-5745-8c5f-c15c17ac1fe7-9cd1020c, #w-node-_2f93edc7-fb3c-5745-8c5f-c15c17ac1fec-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f2257-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f2258-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f225d-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f2268-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f2269-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f226e-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f2271-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f2272-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f2277-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f2284-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f2285-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f228a-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f228d-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f228e-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f2293-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f229e-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f229f-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f22a4-9cd1020c, #w-node-_7289cc3e-d489-2b17-3916-c9b3c6706e3d-9cd1020c, #w-node-_86f467a8-a17c-73f0-594b-8b43e723c17b-9cd1020c, #w-node-_86f467a8-a17c-73f0-594b-8b43e723c17c-9cd1020c, #w-node-_86f467a8-a17c-73f0-594b-8b43e723c181-9cd1020c, #w-node-c1861685-be16-531e-0f22-027dcdc4f5ba-9cd1020c, #w-node-fdbf0a15-0289-1028-9c8d-5647ad1867a6-9cd1020c, #w-node-fdbf0a15-0289-1028-9c8d-5647ad1867a7-9cd1020c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}
