:root {
  --black: #242323;
  --orange-red: #f65802;
  --gainsboro: #e6e6e6;
  --silver: #bdbdbd;
  --color: white;
  --purple: #574127;
}

.w-embed-youtubevideo {
  width: 100%;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-position: 50%;
  background-size: cover;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.navbar-logo-left {
  background-color: #fff;
  display: none;
}

.navbar-logo-left-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container.shadow-three {
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  color: var(--black);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu-wrapper {
  text-transform: uppercase;
  font-family: Open Sans, sans-serif;
  display: flex;
  overflow: visible;
}

.nav-menu-two {
  height: 30px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
  overflow: visible;
}

.nav-link {
  color: var(--black);
  text-align: center;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--orange-red);
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: var(--orange-red);
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  color: var(--gainsboro);
  margin-right: 10px;
}

.nav-dropdown-icon:hover {
  color: var(--orange-red);
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-list.shadow-three.mobile-shadow-hide {
  color: var(--gainsboro);
  background-color: rgba(0, 0, 0, 0);
}

.nav-dropdown-link {
  color: var(--gainsboro);
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:hover {
  color: var(--orange-red);
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-divider {
  width: 1px;
  height: 22px;
  background-color: #e4ebf3;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-link-accent {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: rgba(26, 27, 31, .75);
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.split---main {
  color: var(--black);
  padding: 30px;
  position: relative;
}

.container-2 {
  width: 100%;
  max-width: 1024px;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  display: flex;
}

.centered-heading {
  text-align: center;
  margin-bottom: 16px;
}

.centered-heading.margin-bottom-32px {
  color: var(--orange-red);
  text-align: left;
  font-size: 32px;
}

.hero-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.hero-split {
  height: 100%;
  max-width: 46%;
  min-width: 46%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.margin-bottom-24px {
  color: var(--black);
  text-align: left;
  white-space: normal;
  margin-bottom: 24px;
  font-style: normal;
}

.button-primary-2 {
  border: 1px solid var(--silver);
  background-color: var(--silver);
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
  display: block;
}

.button-primary-2:hover {
  border: 1px solid var(--silver);
  background-color: var(--silver);
  color: #fff;
  font-weight: 400;
}

.button-primary-2:active {
  background-color: #43464d;
}

.shadow-two {
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  margin-bottom: 136px;
}

.footer-light {
  background-color: #fff;
  border-bottom: 1px solid #e4ebf3;
  padding: 0 30px 40px;
  position: relative;
}

.footer-wrapper-two {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.footer-block-two {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footer-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

.footer-link-two {
  color: #1a1b1f;
  margin-top: 20px;
  text-decoration: none;
}

.footer-link-two:hover {
  color: rgba(26, 27, 31, .75);
}

.footer-form {
  width: 315px;
  max-width: 100%;
  margin-bottom: 0;
}

.footer-form-block {
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  display: flex;
}

.footer-form-field {
  height: 48px;
  border: 1px solid #a6b1bf;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-bottom: 0;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 22px;
  transition: all .2s;
}

.footer-form-field:hover, .footer-form-field:focus {
  border-color: #76879d;
}

.footer-form-field::-ms-input-placeholder {
  color: rgba(26, 27, 31, .8);
  font-size: 14px;
  line-height: 22px;
}

.footer-form-field::placeholder {
  color: rgba(26, 27, 31, .8);
  font-size: 14px;
  line-height: 22px;
}

.footer-form-submit {
  width: 50px;
  height: 48px;
  background-color: #1a1b1f;
  background-image: url('../images/');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: all .2s;
}

.footer-form-submit:hover {
  background-color: #3a4554;
}

.footer-divider-two {
  width: 100%;
  height: 1px;
  background-color: #e4ebf3;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-bottom {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-copyright {
  color: #000;
  display: inline;
}

.footer-social-block-two {
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-left: -12px;
  padding-bottom: 20px;
  display: flex;
}

.footer-social-link {
  margin-left: 12px;
}

.list-item:hover {
  color: var(--orange-red);
}

.features-list {
  -webkit-text-fill-color: inherit;
  background-color: #fff;
  background-clip: border-box;
  padding: 32px 30px;
  position: relative;
}

.features-list.wersja2 {
  display: none;
}

.features-wrapper-two {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.features-left {
  max-width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 8px;
  margin-bottom: 8px;
  display: none;
}

.features-paragraph {
  color: var(--black);
  margin-bottom: 24px;
}

.text-link-arrow {
  color: #1a1b1f;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.arrow-embed {
  margin-left: 2px;
  display: flex;
}

.features-right {
  max-width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.features-block-two {
  color: var(--gainsboro);
  align-items: center;
  margin-bottom: 16px;
  display: flex;
}

.features-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 16px;
}

.heading {
  color: var(--orange-red);
  margin-bottom: 20px;
}

.features-metrics {
  background-color: #fff;
  padding: 20px 30px;
  position: relative;
}

.features-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.features-block {
  border-style: dotted;
  border-width: 10px 0;
  border-color: var(--black);
  text-align: center;
  border-radius: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.features-title {
  color: var(--black);
  margin-bottom: 8px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
}

.features-title-small {
  font-size: 24px;
  line-height: 32px;
}

.text-block {
  font-family: Lato, sans-serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 35px;
}

.bold-text, .text-block-2 {
  color: var(--black);
}

.text-block-2:hover {
  color: var(--orange-red);
}

.text-block-3, .text-block-4 {
  color: var(--black);
}

.text-block-5 {
  color: var(--gainsboro);
}

.paragraph {
  color: var(--black);
  line-height: 30px;
}

.image {
  color: var(--gainsboro);
}

.paragraph-2, .paragraph-3 {
  color: var(--black);
}

.hero-stack {
  max-height: 422.289px;
  background-color: var(--black);
  padding: 0 30px;
  position: relative;
}

.hero-wrapper-two {
  max-width: 750px;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.margin-bottom-24px-2 {
  margin-bottom: 24px;
}

.button-primary-3 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-3:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-3:active {
  background-color: #43464d;
}

.hero-image {
  width: 100%;
  margin-top: 50px;
}

.hero-image.shadow-two {
  height: 100%;
  margin-top: 0;
}

.image-2 {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.image-3 {
  max-width: 100%;
}

.hero-without-image {
  background-color: #fff;
  padding: 20px 30px;
  position: relative;
}

.container-3 {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper-two-2 {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.margin-bottom-24px-3 {
  margin-bottom: 24px;
}

.button-primary-4 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-4:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-4:active {
  background-color: #43464d;
}

.heading-2 {
  color: var(--black);
  margin-bottom: 20px;
  font-weight: 400;
  display: block;
}

.heading-2.glowna {
  margin-top: 0;
  font-size: 30px;
  line-height: 50px;
}

.features-metrics-2 {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 60px 30px;
  position: relative;
}

.features-wrapper-2 {
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.features-block-2 {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.features-title-2 {
  margin-bottom: 8px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
}

.features-title-small-2 {
  font-size: 24px;
  line-height: 32px;
}

.split---black {
  background-color: var(--black);
  border-bottom: 1px solid #e4ebf3;
  margin-top: 0;
  padding: 20px 30px;
  display: block;
  position: relative;
}

.split---black.wersja2 {
  display: none;
}

.hero-wrapper-two-3 {
  max-width: 750px;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.heading-3 {
  color: var(--gainsboro);
  text-align: left;
  font-size: 30px;
}

.container-4 {
  justify-content: center;
  display: flex;
}

.section {
  justify-content: space-between;
  display: none;
}

.list {
  flex-wrap: nowrap;
  display: flex;
}

.container-5 {
  max-width: 940px;
  display: flex;
}

.list-item-3 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.column {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.columns {
  display: flex;
}

.split---white {
  background-color: #fff;
  padding: 20px 30px;
  position: relative;
}

.heading-4 {
  color: var(--orange-red);
  margin-top: 0;
}

.heading-5 {
  margin-top: 0;
}

.paragraph-4 {
  text-align: center;
  font-size: 20px;
  line-height: 22px;
}

.paragraph-5 {
  font-size: 20px;
}

.paragraph-6 {
  color: var(--orange-red);
  text-align: center;
  text-transform: none;
  font-size: 18px;
  display: block;
}

.link {
  display: inline;
}

.link-2 {
  text-decoration: underline;
}

.section-2 {
  padding-bottom: 40px;
}

.div-block {
  width: 100%;
  text-align: left;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.div-block-2 {
  width: 100%;
}

.heading-6 {
  color: var(--black);
}

.nav-link-2 {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
  display: block;
}

.nav-link-2:hover {
  color: var(--orange-red);
}

.nav-link-3 {
  color: var(--black);
  text-align: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.nav-link-3:hover {
  color: var(--orange-red);
}

.nav-link-4 {
  color: var(--black);
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: none;
}

.nav-link-4:hover {
  color: var(--orange-red);
}

.nav-link-5 {
  color: var(--black);
  text-align: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.nav-link-5:hover {
  color: var(--black);
}

.nav-link-6 {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  display: none;
}

.nav-link-6:hover, .nav-link-6.w--current {
  color: var(--orange-red);
}

.nav-link-7 {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.nav-link-7:hover {
  color: var(--orange-red);
}

.nav-link-7.w--current {
  color: var(--black);
}

.nav-link-7.w--current:hover {
  color: var(--orange-red);
}

.nav-menu {
  flex-direction: row;
  display: flex;
}

.container-6 {
  width: 1024px;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

.navbar {
  background-color: #fff;
  flex-direction: row;
  justify-content: center;
  display: flex;
}

.youtube {
  width: 423px;
  height: 200px;
}

.container-7 {
  justify-content: space-between;
  display: flex;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.paragraph-7, .paragraph-8, .paragraph-9, .paragraph-10, .paragraph-11, .paragraph-12, .paragraph-13 {
  line-height: 22px;
}

.p1 {
  color: var(--black);
}

.bold-text-2 {
  font-weight: 400;
}

.tabs-menu {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: row;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: stretch;
  display: grid;
}

.tabs-content {
  margin-top: 20px;
  display: block;
}

.tabs-nav {
  border: 1px solid var(--orange-red);
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}

.tabs-nav.w--current {
  background-color: var(--orange-red);
  color: var(--gainsboro);
  text-align: center;
}

.tab-link-tab-2 {
  border: 1px solid var(--orange-red);
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}

.tab-link-tab-2.w--current {
  background-color: var(--orange-red);
  color: var(--gainsboro);
}

.tab-link-tab-3 {
  border: 1px solid var(--orange-red);
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}

.tab-link-tab-3.w--current {
  background-color: var(--orange-red);
  color: var(--gainsboro);
}

.nagrania {
  max-width: 1024px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.bold-text-3 {
  font-weight: 400;
}

.container-8 {
  justify-content: center;
  display: flex;
}

.section-3 {
  max-height: 422px;
  background-color: var(--black);
}

.image-4 {
  max-width: 80%;
  flex: 0 auto;
}

.section-4 {
  background-color: var(--black);
}

.container-9 {
  justify-content: center;
  display: flex;
}

.paragraph-14 {
  text-align: center;
  font-size: 18px;
}

.bold-text-4 {
  color: var(--black);
  font-weight: 400;
}

.bold-text-5 {
  color: var(--black);
  text-align: center;
}

.container-10 {
  max-width: 1024px;
}

.item {
  width: 100%;
  overflow: hidden;
}

.toggle {
  height: 80px;
  border: 1px #000;
  display: flex;
}

.war1 {
  color: var(--orange-red);
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  display: flex;
}

.dropdown-list {
  background-color: #fff;
  padding: 20px;
  display: block;
  position: static;
}

.columns-2 {
  align-items: center;
  display: flex;
}

.bold-text-6 {
  color: var(--orange-red);
}

.war2 {
  align-items: center;
  margin-left: 6px;
  font-size: 14px;
  display: flex;
}

.container-11 {
  max-width: 1024px;
  display: flex;
}

.section-5 {
  max-width: 1024px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.tabs {
  display: block;
}

.bold-text-7 {
  color: #f60202;
}

.warning {
  color: #ff0b0b;
  font-weight: 700;
}

.container-12 {
  max-width: 1024px;
  margin-top: 32px;
}

.tabs-menu-2 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-around;
  display: grid;
}

.tab-link-tab-1 {
  border: 1px solid var(--orange-red);
  text-align: center;
  background-color: #fff;
}

.tab-link-tab-1.w--current {
  border: 1px solid var(--orange-red);
  background-color: var(--orange-red);
  color: var(--gainsboro);
}

.tab-link-tab-2-2 {
  border: 1px solid var(--orange-red);
  text-align: center;
  background-color: #fff;
}

.tab-link-tab-2-2.w--current {
  background-color: var(--orange-red);
  color: var(--gainsboro);
}

.text-block-8 {
  text-align: center;
}

.tab-link-tab-3-2 {
  border: 1px solid var(--orange-red);
  background-color: #fff;
}

.tab-link-tab-3-2.w--current {
  background-color: var(--orange-red);
  color: var(--gainsboro);
}

.button-stacjo {
  border: 1px solid var(--silver);
  background-color: var(--silver);
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
  display: block;
}

.button-stacjo:hover {
  background-color: var(--silver);
  color: #fff;
  font-weight: 400;
}

.button-stacjo:active {
  background-color: var(--silver);
}

.container-13 {
  max-width: 250px;
}

.item-copy {
  width: 100%;
  overflow: hidden;
}

.nierozwijak {
  height: 80px;
  border: 1px #000;
  display: flex;
}

.agenda {
  width: 100%;
  max-width: 1024px;
  border-style: none;
  border-width: 1px 1px 1px 5px;
  border-color: black black black var(--orange-red);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.item-agenda {
  width: 100%;
  overflow: hidden;
}

.toggle-agenda {
  height: 80px;
  border-color: var(--orange-red);
  background-image: linear-gradient(to right, var(--orange-red), white 22%);
  border-top-style: none;
  border-top-width: 5px;
  border-left-style: solid;
  border-left-width: 5px;
  border-right-style: none;
  border-right-width: 5px;
  flex-direction: column;
  justify-content: space-around;
  display: flex;
}

.dropdown-list--agenda {
  border-top: 5px none var(--orange-red);
  border-bottom: 5px none var(--orange-red);
  border-left: 5px solid var(--orange-red);
  background-color: #fff;
  margin-left: 0;
  padding: 20px;
  display: block;
  position: static;
}

.agenda-static1 {
  color: var(--black);
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  display: flex;
}

.agenda-static2 {
  color: var(--black);
  align-items: center;
  margin-left: 6px;
  display: flex;
}

.dzien {
  width: 100%;
  max-width: 1024px;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  display: flex;
}

.static {
  width: 100%;
  height: 80px;
  max-width: 1024px;
  border-left: 5px solid var(--silver);
  background-image: linear-gradient(to right, var(--silver), white 30%);
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  display: flex;
}

.container-14 {
  max-width: 1024px;
  border-bottom: 5px solid var(--orange-red);
  margin-top: 40px;
  margin-bottom: 40px;
}

.ag1 {
  color: var(--black);
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  display: flex;
}

.ag2 {
  color: var(--black);
  align-items: center;
  margin-left: 6px;
  font-size: 14px;
  display: flex;
}

.button-warsztaty {
  border: 1px solid var(--silver);
  background-color: var(--silver);
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
  display: block;
}

.button-warsztaty:hover {
  border: 1px solid var(--silver);
  background-color: var(--silver);
  color: #fff;
  font-weight: 400;
}

.button-warsztaty:active {
  background-color: #43464d;
}

.poprzednieed {
  width: 100%;
  max-width: 1024px;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  display: flex;
}

.black-div {
  width: 100%;
  max-width: 1024px;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  display: flex;
}

.ag_szcz {
  color: var(--black);
  padding: 30px;
  position: relative;
}

.bold-text-8 {
  color: var(--black);
}

.m {
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  margin-bottom: 0;
}

.m2 {
  flex-direction: column;
  display: flex;
}

.tabs-menu-2-copy {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-around;
  display: grid;
}

.tab-link-tab-4-2 {
  border: 1px solid var(--orange-red);
  background-color: #fff;
}

.tab-link-tab-4-2.w--current {
  background-color: var(--orange-red);
  color: var(--gainsboro);
}

.text-block-9 {
  text-align: center;
}

.men1 {
  color: var(--black);
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  display: flex;
}

.men2 {
  align-items: center;
  margin-left: 6px;
  font-size: 14px;
  display: flex;
}

.faq-men {
  width: 100%;
  max-width: 1024px;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  display: flex;
}

.container-15 {
  max-width: 250px;
}

.div-block-copy {
  width: 100%;
  text-align: left;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.button-online {
  border: 1px solid var(--orange-red);
  background-color: var(--orange-red);
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 25px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  transition: all .2s;
  display: block;
}

.button-online:hover {
  border: 1px solid var(--orange-red);
  color: var(--orange-red);
  background-color: #fff;
  font-weight: 400;
}

.button-online:active {
  background-color: #43464d;
}

.image-5 {
  min-width: 360px;
}

.par_cegielka {
  text-align: left;
  font-size: 14px;
}

.div_cegielka {
  width: 100%;
  text-align: left;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}

.c {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.button-cegielka {
  max-width: 250px;
  border: 1px solid var(--orange-red);
  background-color: var(--orange-red);
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
  display: block;
}

.button-cegielka:hover {
  border: 1px solid var(--orange-red);
  color: var(--orange-red);
  background-color: #fff;
  font-weight: 400;
}

.button-cegielka:active {
  background-color: #43464d;
}

.split---cegielka {
  background-color: #fff;
  padding: 20px 30px;
  position: relative;
}

.container-16 {
  max-width: 1024px;
  padding-left: 40px;
  padding-right: 40px;
}

.div-block-3 {
  border: 1px none var(--orange-red);
  background-color: #f1f1f1;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  display: flex;
}

.section-6 {
  background-color: #f1f1f1;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button {
  border: 1px solid var(--orange-red);
  color: var(--black);
  background-color: #f1f1f1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button:hover {
  background-color: var(--orange-red);
  color: #fff;
}

.paragraph-15 {
  margin-bottom: 0;
}

.container-17 {
  align-items: center;
  display: flex;
}

.button-mentoring {
  border: 1px solid var(--silver);
  background-color: var(--silver);
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
  display: block;
}

.button-mentoring:hover {
  border: 1px solid var(--silver);
  background-color: var(--silver);
  color: var(--color);
  font-weight: 400;
}

.button-mentoring:active {
  background-color: #43464d;
}

.div-block-copy {
  width: 100%;
  text-align: left;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.button-mentua {
  border: 1px solid var(--silver);
  background-color: var(--silver);
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
  display: block;
}

.button-mentua:hover {
  border: 1px solid var(--silver);
  background-color: var(--silver);
  color: #fff;
  font-weight: 400;
}

.button-mentua:active {
  background-color: #43464d;
}

.div-block-copy-copy {
  width: 100%;
  text-align: left;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.nagrania3 {
  max-width: 1024px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: flex;
}

.dostnagrania {
  border: 1px solid var(--orange-red);
  text-align: center;
  margin: 24px;
  padding: 24px;
  font-size: 18px;
  display: block;
}

.nav-link-8 {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.nav-link-8:hover {
  color: var(--orange-red);
}

.container-18 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-content: stretch;
  justify-content: flex-start;
  align-items: center;
  justify-items: stretch;
  padding-bottom: 20px;
  display: flex;
}

.container-3-copy {
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.container-19 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.countdown-outer {
  height: 200px;
  color: #000;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.main-div {
  position: relative;
}

.heading-7 {
  color: #000;
  letter-spacing: .5px;
  margin-bottom: 20px;
  font-size: 60px;
  font-weight: 900;
}

.text-block-10 {
  color: #000;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 21px;
  font-size: 20px;
}

.countdown-row {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
}

.countdown-block {
  width: 130px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin: 5px 20px 5px 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
}

.countdown-time {
  color: #000;
  font-size: 70px;
  line-height: 120px;
}

.countdown-detail {
  color: #000;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 200;
}

.bold-text-9 {
  font-weight: 400;
}

.tabs-mentoring {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-around;
  display: grid;
}

.tabs-content-2 {
  margin-bottom: 20px;
}

.section-7 {
  margin-top: 20px;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
  }

  .nav-menu-wrapper {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu-two {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .container-2 {
    max-width: 728px;
  }

  .hero-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .footer-wrapper-two {
    flex-wrap: wrap;
  }

  .footer-form {
    width: 100%;
    margin-top: 40px;
  }

  .footer-form-container {
    max-width: 350px;
  }

  .features-wrapper-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .features-left {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .features-right {
    max-width: 100%;
  }

  .features-wrapper {
    justify-content: space-between;
  }

  .container-3 {
    max-width: 728px;
  }

  .features-wrapper-2 {
    justify-content: space-between;
  }

  .div-block {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: block;
  }

  .nav-menu {
    background-color: #fff;
  }

  .toggle {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
  }

  .war2 {
    white-space: normal;
    object-fit: fill;
    flex-wrap: nowrap;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    overflow: hidden;
  }

  .nierozwijak {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
  }

  .agenda {
    max-width: 728px;
  }

  .toggle-agenda {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
  }

  .agenda-static2 {
    white-space: normal;
    object-fit: fill;
    flex-wrap: nowrap;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    overflow: hidden;
  }

  .dzien, .static {
    max-width: 728px;
  }

  .ag2 {
    white-space: normal;
    object-fit: fill;
    flex-wrap: nowrap;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    overflow: hidden;
  }

  .poprzednieed, .black-div {
    max-width: 728px;
  }

  .men1 {
    white-space: normal;
  }

  .men2 {
    white-space: normal;
    object-fit: fill;
    flex-wrap: nowrap;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    overflow: hidden;
  }

  .faq-men {
    max-width: 728px;
  }

  .div-block-copy {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .container-3-copy {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu-two {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-divider {
    width: 200px;
    height: 1px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link-accent {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .split---main {
    padding: 60px 15px;
  }

  .hero-split {
    align-items: center;
  }

  .footer-light {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-copyright {
    font-size: 14px;
    line-height: 20px;
  }

  .footer-social-block-two {
    margin-top: 20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .features-list, .features-metrics {
    padding: 60px 15px;
  }

  .features-wrapper {
    flex-wrap: wrap;
    margin-bottom: -40px;
  }

  .features-block {
    width: 50%;
    margin-bottom: 40px;
  }

  .hero-stack {
    padding: 0;
  }

  .hero-without-image {
    padding: 60px 15px;
  }

  .heading-2 {
    text-align: center;
  }

  .features-metrics-2 {
    padding: 60px 15px;
  }

  .features-wrapper-2 {
    flex-wrap: wrap;
    margin-bottom: -40px;
  }

  .features-block-2 {
    width: 50%;
    margin-bottom: 40px;
  }

  .split---black, .split---white {
    padding: 60px 15px;
  }

  .heading-4, .heading-5 {
    text-align: center;
  }

  .div-block {
    flex-direction: column;
    justify-content: space-around;
    display: flex;
  }

  .body {
    margin-left: 10px;
    margin-right: 10px;
  }

  .ag_szcz {
    padding: 60px 15px;
  }

  .men1 {
    clear: none;
    white-space: normal;
    object-fit: fill;
    flex-wrap: nowrap;
  }

  .div-block-copy, .div_cegielka {
    flex-direction: column;
    justify-content: space-around;
  }

  .split---cegielka {
    padding: 60px 15px;
  }

  .div-block-copy {
    flex-direction: column;
    justify-content: space-around;
    display: flex;
  }

  .div-block-copy-copy {
    flex-direction: column;
    justify-content: space-around;
  }

  .container-18 {
    flex-direction: column;
  }

  .image-6, .image-7, .image-8, .image-9, .image-10, .image-11, .image-12, .image-13, .image-14, .image-15, .image-16 {
    object-fit: scale-down;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: none;
  }

  .nav-menu-two {
    flex-direction: column;
  }

  .container-2 {
    max-width: none;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .footer-wrapper-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-block-two {
    margin-top: 40px;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-social-block-two {
    justify-content: space-around;
    margin-top: 20px;
  }

  .features-right {
    margin-bottom: 0;
  }

  .features-block-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
  }

  .features-image {
    margin-bottom: 10px;
  }

  .container-3 {
    max-width: none;
  }

  .menu-button-2 {
    justify-content: center;
    align-items: center;
  }

  .stopka {
    text-align: center;
  }

  .toggle {
    padding-top: 0;
    padding-bottom: 0;
  }

  .war2 {
    flex-wrap: nowrap;
  }

  .tabs-menu-2 {
    flex-direction: column;
    justify-content: space-around;
    display: flex;
  }

  .nierozwijak {
    padding-top: 0;
    padding-bottom: 0;
  }

  .agenda {
    max-width: none;
  }

  .toggle-agenda {
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .agenda-static2 {
    flex-wrap: nowrap;
  }

  .dzien, .static {
    max-width: none;
  }

  .ag2 {
    flex-wrap: nowrap;
  }

  .poprzednieed, .black-div {
    max-width: none;
  }

  .tabs-menu-2-copy {
    flex-direction: column;
    justify-content: space-around;
    display: flex;
  }

  .men2 {
    flex-wrap: nowrap;
  }

  .faq-men, .container-3-copy {
    max-width: none;
  }

  .tabs-mentoring {
    flex-direction: column;
    justify-content: space-around;
    display: flex;
  }
}

#w-node-_3a8bdd9c-bfc0-8bb8-e632-8a8ee04607c6-9cd1020c, #w-node-_3a8bdd9c-bfc0-8bb8-e632-8a8ee04607c7-9cd1020c, #w-node-aba2746c-e0c2-efa9-6ef7-bb1e7432f7cc-9cd1020c, #w-node-_370b4bce-3593-ef94-eefa-993bd61a20d3-9cd1020c, #w-node-aba2746c-e0c2-efa9-6ef7-bb1e7432f7cd-9cd1020c, #w-node-_2f3f6a25-77f2-f318-db9f-432dc396538b-9cd1020c, #w-node-_2f3f6a25-77f2-f318-db9f-432dc396538c-9cd1020c, #w-node-_2f3f6a25-77f2-f318-db9f-432dc3965391-9cd1020c, #w-node-_2d33c45b-6c34-953b-ae4d-e610f46ff45a-9cd1020c, #w-node-_2d33c45b-6c34-953b-ae4d-e610f46ff45b-9cd1020c, #w-node-_2d33c45b-6c34-953b-ae4d-e610f46ff460-9cd1020c, #w-node-cab75a01-fd6b-f88b-f74e-b5d0eed9aea4-9cd1020c, #w-node-cab75a01-fd6b-f88b-f74e-b5d0eed9aea5-9cd1020c, #w-node-cab75a01-fd6b-f88b-f74e-b5d0eed9aeaa-9cd1020c, #w-node-_09601f3a-9bdf-27f5-a029-7ac0752f146c-9cd1020c, #w-node-_09601f3a-9bdf-27f5-a029-7ac0752f146d-9cd1020c, #w-node-_09601f3a-9bdf-27f5-a029-7ac0752f1472-9cd1020c, #w-node-d53dbdc8-3917-4ed4-2c7d-f6eca533eb2d-9cd1020c, #w-node-d53dbdc8-3917-4ed4-2c7d-f6eca533eb2e-9cd1020c, #w-node-d53dbdc8-3917-4ed4-2c7d-f6eca533eb33-9cd1020c, #w-node-d49def53-b26d-ad2c-9e4d-d5715389cca6-9cd1020c, #w-node-_7df87000-f769-5f69-495e-2afa13529b56-9cd1020c, #w-node-_7df87000-f769-5f69-495e-2afa13529b57-9cd1020c, #w-node-_7df87000-f769-5f69-495e-2afa13529b5c-9cd1020c, #w-node-_8fd80311-3fab-c42c-8a74-0cd2ffab14f8-9cd1020c, #w-node-_4ce8c519-9e42-5f72-c784-cf71eb1321af-9cd1020c, #w-node-_4ce8c519-9e42-5f72-c784-cf71eb1321b0-9cd1020c, #w-node-_4ce8c519-9e42-5f72-c784-cf71eb1321b5-9cd1020c, #w-node-c9a4fddf-c0e9-385f-c61b-a99d8de97839-9cd1020c, #w-node-a77052ab-9500-8325-d07b-d76377977673-9cd1020c, #w-node-a77052ab-9500-8325-d07b-d76377977674-9cd1020c, #w-node-a77052ab-9500-8325-d07b-d76377977679-9cd1020c, #w-node-_4b89babe-9e56-d2ac-1ef4-b6e2887189ba-9cd1020c, #w-node-_55fdbc16-eaec-3563-9572-1922fedc9b9b-9cd1020c, #w-node-_55fdbc16-eaec-3563-9572-1922fedc9b9c-9cd1020c, #w-node-_55fdbc16-eaec-3563-9572-1922fedc9ba1-9cd1020c, #w-node-_4fccf6f2-6fc9-dc3a-8c9c-58a7788f8a08-9cd1020c, #w-node-_14c97df7-1af9-5460-832a-5209cb46dbcc-9cd1020c, #w-node-_14c97df7-1af9-5460-832a-5209cb46dbcd-9cd1020c, #w-node-_14c97df7-1af9-5460-832a-5209cb46dbd2-9cd1020c, #w-node-_2f93edc7-fb3c-5745-8c5f-c15c17ac1fe6-9cd1020c, #w-node-_2f93edc7-fb3c-5745-8c5f-c15c17ac1fe7-9cd1020c, #w-node-_2f93edc7-fb3c-5745-8c5f-c15c17ac1fec-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f2257-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f2258-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f225d-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f2268-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f2269-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f226e-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f2271-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f2272-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f2277-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f2284-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f2285-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f228a-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f228d-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f228e-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f2293-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f229e-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f229f-9cd1020c, #w-node-ebea45f3-f422-8ff6-f516-83a3544f22a4-9cd1020c, #w-node-_7289cc3e-d489-2b17-3916-c9b3c6706e3d-9cd1020c, #w-node-_86f467a8-a17c-73f0-594b-8b43e723c17b-9cd1020c, #w-node-_86f467a8-a17c-73f0-594b-8b43e723c17c-9cd1020c, #w-node-_86f467a8-a17c-73f0-594b-8b43e723c181-9cd1020c, #w-node-c1861685-be16-531e-0f22-027dcdc4f5ba-9cd1020c, #w-node-fdbf0a15-0289-1028-9c8d-5647ad1867a6-9cd1020c, #w-node-fdbf0a15-0289-1028-9c8d-5647ad1867a7-9cd1020c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}
